<app-header
  [image]="'cabecera-servicios.webp'"
  [blurImage]="'blur_cabecera-servicios.webp'"
  [title]="'SERVICIOS'"
  [height]="'92%'"
  [alt]="'Cabecera Servicios'"
></app-header>

<div
  class="flex flex-col justify-center items-center max-w-[1400px] m-auto w-full"
>
  <div class="pt-16 px-4 md:px-8 lg:px-16" id="seccion-viandas">
    <h1 class="font-Romantica text-4xl text-[#A10023] md:p-2.5">Viandas</h1>
    <app-service-category
      title="Para tu hogar"
      description="Resolvé las comidas de tu semana de manera simple y rica.
    Nuestras viandas son ideales para agilizar los almuerzos en tu trabajo o para tener en el freezer cuando llegás a tu casa. 
    Nuestros productos llegan a tu hogar en bandeja de plástico envasadas en flow pack o envasadas al vacío con su descripción y vencimiento, para garantizar que se mantengan frescas y deliciosas. Simplemente deben calentarse en el microondas o en horno eléctrico a la hora de comer. 
    Podes pedir el menú semanal de 10 viandas o armar tu menú a la carta. Contamos con línea veggie y gran amplitud de deliciosas opciones. Solicita nuestro catálogo.
    Ofrecemos un servicio de distribución en CABA y AMBA."
      image="pinchos-de-pollo-con-arroz.webp"
      id="seccion-viandas"
    ></app-service-category>

    <app-service-category-reverse
      title="Para corporaciones"
      description="Suma bienestar y rendimiento en tu espacio laboral, 
    incorporando nuestro servicio de almuerzo para empresas e instituciones. 
    Nuestra línea de viandas corporativas es la solución para optimizar tiempos y costos sin perder calidad. Proveemos productos congelados envasados en flow pack o envasadas al vacío
    que permiten mantener la calidad y frescura, facilitando el ahorro en costos operativos y optimización del tiempo de almuerzo.
    Contamos con línea veggie y gran amplitud de opciones que se ajustan a las necesidades de nuestros clientes. 
    Solicita nuestro catálogo y nuestros  precios mayoristas para pymes y grandes empresas."
      image="vianda-corporativa.webp"
    ></app-service-category-reverse>
  </div>

  <div class="pt-16 px-4 md:px-8 lg:px-16" id="seccion-eventos">
    <h1 class="font-Romantica text-4xl text-[#A10023] md:p-2.5">Eventos</h1>
    <app-service-category
      title="Catering y servicios corporativos"
      description="Sumá la calidad de Toque Gourmet a tus momentos más memorables y disfruta de la distinción de nuestros productos 
    en tus eventos sociales o corporativos. Contamos con  un equipo capacitado para la gestión de eventos sociales y culturales a gran escala. 
    Nos ocupamos de brindar un servicio integral, desde la planificación en conjunto con nuestros clientes, 
    pasando por la elaboración de productos con materias primas seleccionadas, hasta la logística para hacer llegar la máxima calidad gastronómica a tu evento."
      image="dulces.webp"
      id="seccion-categorias-eventos"
    ></app-service-category>

    <app-service-category-reverse
      title="Productos y servicios para locales gastronómicos"
      description="En Toque Gourmet contamos con una línea  gastronómica destinada a resolver la cocina de locales gastronómicos, optimizando tiempos y costos sin perder calidad.
    Proveemos productos congelados mayoristas para que puedas almacenar, regenerar o recalentar en tu cocina de una manera práctica y sencilla. Nuestros productos congelados son ideales para que puedas ofrecer una propuesta gastronómica amplia, rica y casera. 
    Nuestra red de venta y distribución, incluye una heterogénea oferta que se adapta a las preferencias y necesidades de cada cliente desde pequeños locales gastronómicos de comida al paso, espacio cultural, restaurantes, bares, hasta  instituciones educativas o empresas corporativas."
      image="tapeo.webp"
      id="seccion-locales-gastronomicos"
    ></app-service-category-reverse>

    <app-service-category
      title="Ferias gastronómicas"
      description="Nuestra cooperativa participa activamente de eventos sociales del circuito cultural de la Ciudad de Buenos Aires,
     tales como la noche de los Museos, la Feria del Libro Usado (FLU) en la Biblioteca Nacional y el Circuito de Carnavales Porteños."
      image="atencion-personalizada.webp"
      id="seccion-ferias-gastronomicas"
    ></app-service-category>
  </div>
</div>

<div
  class="w-full h-30 bg-[#3BB551] mt-28 flex items-center justify-center px-4"
>
  <h2
    class="text-white font-Romantica xl:text-5x1 md:text-4xl sm:text-3xl text-3xl text-center"
  >
    Innovación en servicios gastronómicos integrales
  </h2>
</div>

<app-contact></app-contact>
