<app-header [image]="'cabecera-servicios.jpg'" [title]="'SERVICIOS'" [height]="'92%'"></app-header>


<div class="flex flex-col justify-center items-center">
  <div class="pt-16 w-[90%] md:w-[70%]">
    <h1 class="font-Romantica text-4xl text-[#A10023] md:p-2.5">Viandas</h1>
    <app-service-category title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente." image="viandas.jpg"></app-service-category>

    <app-service-category-reverse title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente."
      image="viandas.jpg"></app-service-category-reverse>

    <app-service-category title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente." image="viandas.jpg"></app-service-category>
  </div>

  <div class="pt-16 w-[90%] md:w-[70%]">
    <h1 class="font-Romantica text-4xl text-[#A10023] md:p-2.5">Eventos</h1>

    <app-service-category-reverse title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
    en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
    de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
    nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
    diferentes todos los días según las preferencias de cada cliente."
      image="viandas.jpg"></app-service-category-reverse>

    <app-service-category title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente." image="viandas.jpg"></app-service-category>

    <app-service-category-reverse title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente."
      image="viandas.jpg"></app-service-category-reverse>
  </div>

  <div class="pt-16 w-[90%] md:w-[70%]">
    <h1 class="font-Romantica text-4xl text-[#A10023] md:p-2.5">Otros servicios</h1>
    <app-service-category title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente." image="viandas.jpg"></app-service-category>

    <app-service-category-reverse title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente."
      image="viandas.jpg"></app-service-category-reverse>

    <app-service-category title="Para tu hogar" description="Almuerzos o cenas que se entregan a diario, llegan frescas, refrigeradas y simplemente deben calentarse
      en el microondas o de preferir en hornos eléctricos a la hora de comer. Los pedidos se realizan a través
      de nuestra APP y las mismas llegan en bandeja de plástico envasadas en Flow Pack con su descripción,
      nombre de usuario y vencimiento. Chef Gourmet ofrece una variedad de 3 menús entre 5, 9 ó 19 opciones
      diferentes todos los días según las preferencias de cada cliente." image="viandas.jpg"></app-service-category>
  </div>
</div>

<div class="w-full h-30 bg-[#3BB551] mt-28 flex items-center justify-center px-4">
  <h2 class="text-white font-Romantica xl:text-5x1 md:text-4xl sm:text-3xl text-3xl text-center">
    Innovación en servicios gastronómicos para empresas
  </h2>
</div>

<app-contact></app-contact>