<div class="flex justify-center">
  <div class="mt-28 mb-28 w-[90%] xl:w-[60%] lg:w-[75%]">
    <h2 class="text-[#3BB551] font-Romantica text-4xl mb-8">Nuestros servicios</h2>
    <div class="max-w-sm bg-[#EFEFEF] border border-gray-200 rounded-lg p-6 shadow-xl">
      <a>
        <img class="rounded-t-lg" src="viandas.jpg" alt="Servicio viandas"/>
      </a>
      <div class="p-5">
        <a>
          <h5 class="mb-2 text-2xl font-semibold text-center tracking-tight text-gray-900">Viandas</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">Las viandas para almuerzos o cenas, se entregan diariamente listas para calentarse en microondas u horno eléctrico…</p>
        <div class="flex justify-center">
          <a class="w-36 justify-center inline-flex px-3 py-2 text-sm font-medium text-white bg-[#A10023] rounded-lg hover:bg-[#a10023d7] focus:ring-4 focus:outline-none">
            Leer más
          </a>
        </div>            
      </div>
    </div>
  </div>
</div>
