<app-carousel></app-carousel>
<div class="flex justify-center">
    <div class="pt-28 w-[70%]">
        <div class="flex">
            <div class="h-80 w-80">
                <img class="object-cover w-full h-full" src="familia.jpg" alt="image description">
            </div>
            <div class="ml-28">
                <h2 class="text-[#3BB551] font-Romantica text-4xl">Toque gourmet te hace la vida más fácil</h2>
                <h3 class="text-gray-900 font-semibold text-2xl mt-4">Comida rica, fresca, saludable y variada.</h3>
                <div class="text-[#A10023] mt-4 font-medium">
                    <p>Disponemos de opciones diferentes para una dieta variada: vegetarianos, diabetes. hipertensión, etc.</p>
                    <p class="mt-2">No utilizamos, aditivos, colorantes ni conservantes.</p>
                    <p class="mt-2">Servicio rápido y a disposición constante.</p>
                </div>
            </div>
        </div>    
        <div>
    
        </div> 
    </div>  
</div>
<div class="flex justify-center">
    <div class="pt-28 pb-28 w-[70%]">
        <div class="flex flex-row-reverse">
            <div class="h-80 w-80">
                <img class="object-cover w-full h-full" src="viandas-2.jpg" alt="image description">
            </div>
            <div class="mr-28">
                <h2 class="text-[#3BB551] font-Romantica text-4xl">Adaptamos nuestras soluciones a tus necesidades.</h2>
                <h3 class="text-gray-900 font-semibold text-2xl mt-4">Tenemos diferentes propuestas que se adaptan a cada cliente.</h3>
                
            </div>
        </div>    
        <div>
    
        </div> 
    </div>  
</div>