<div id="default-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-[60vh] sm:h-[70vh] md:h-[80vh] overflow-hidden">
    <!-- Item 1 -->
    <div class="hidden duration-1000 absolute inset-0 transition-all transform translate-x-0 z-20 ease-in-out"
      data-carousel-item>
      <img src="presentacion-tapeo.jpg"
        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      <div
        class="absolute md:right-24 right-13 bottom-12 md:bottom-auto md:top-1/2 transform md:-translate-y-1/2 bg-black/60 text-white p-6 md:w-1/4 w-15/20 flex flex-col items-start rounded-md">
        <div>
          <h2 class="text-4xl font-bold">La solucion ideal para tus comidas</h2>
          <p class="mt-6 font-medium">Servicio de viandas para empresas</p>
          <p class="mt-6 font-medium">¡Ahora tambien a tu hogar</p>
          <p class="mt-6 font-medium">Tenemos diferentes opciones para: vegetarianos, diabetes, hipertensión, etc.</p>
        </div>
        <div class="flex w-[100%] justify-center mt-8">
          <button class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white text-lg rounded-lg ">Consultanos</button>
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
      <img src="presentacion-tapeo.jpg"
        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      <div
        class="absolute md:right-24 right-13 bottom-12 md:bottom-auto md:top-1/2 transform md:-translate-y-1/2 bg-black/60 text-white p-6 md:w-1/4 w-15/20 flex flex-col items-start rounded-md">
        <div>
          <h2 class="text-4xl font-bold">La solucion ideal para tus comidas</h2>
          <p class="mt-6 font-medium">Servicio de viandas para empresas</p>
          <p class="mt-6 font-medium">¡Ahora tambien a tu hogar</p>
          <p class="mt-6 font-medium">Tenemos diferentes opciones para: vegetarianos, diabetes, hipertensión, etc.</p>
        </div>
        <div class="flex w-[100%] justify-center mt-8">
          <button class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white text-lg rounded-lg ">Consultanos</button>
        </div>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
      <img src="presentacion-tapeo.jpg"
        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      <div
        class="absolute md:right-24 right-13 bottom-12 md:bottom-auto md:top-1/2 transform md:-translate-y-1/2 bg-black/60 text-white p-6 md:w-1/4 w-15/20 flex flex-col items-start rounded-md">
        <div>
          <h2 class="text-4xl font-bold">La solucion ideal para tus comidas</h2>
          <p class="mt-6 font-medium">Servicio de viandas para empresas</p>
          <p class="mt-6 font-medium">¡Ahora tambien a tu hogar</p>
          <p class="mt-6 font-medium">Tenemos diferentes opciones para: vegetarianos, diabetes, hipertensión, etc.</p>
        </div>
        <div class="flex w-[100%] justify-center mt-8">
          <button class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white text-lg rounded-lg ">Consultanos</button>
        </div>
      </div>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
      <img src="presentacion-tapeo.jpg"
        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      <div
        class="absolute md:right-24 right-13 bottom-12 md:bottom-auto md:top-1/2 transform md:-translate-y-1/2 bg-black/60 text-white p-6 md:w-1/4 w-15/20 flex flex-col items-start rounded-md">
        <div>
          <h2 class="text-4xl font-bold">La solucion ideal para tus comidas</h2>
          <p class="mt-6 font-medium">Servicio de viandas para empresas</p>
          <p class="mt-6 font-medium">¡Ahora tambien a tu hogar</p>
          <p class="mt-6 font-medium">Tenemos diferentes opciones para: vegetarianos, diabetes, hipertensión, etc.</p>
        </div>
        <div class="flex w-[100%] justify-center mt-8">
          <button class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white text-lg rounded-lg ">Consultanos</button>
        </div>
      </div>
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
      <img src="presentacion-tapeo.jpg"
        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      <div
        class="absolute md:right-24 right-13 bottom-12 md:bottom-auto md:top-1/2 transform md:-translate-y-1/2 bg-black/60 text-white p-6 md:w-1/4 w-15/20 flex flex-col items-start rounded-md">
        <div>
          <h2 class="text-4xl font-bold">La solucion ideal para tus comidas</h2>
          <p class="mt-6 font-medium">Servicio de viandas para empresas</p>
          <p class="mt-6 font-medium">¡Ahora tambien a tu hogar</p>
          <p class="mt-6 font-medium">Tenemos diferentes opciones para: vegetarianos, diabetes, hipertensión, etc.</p>
        </div>
        <div class="flex w-[100%] justify-center mt-8">
          <button class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white text-lg rounded-lg ">Consultanos</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
      data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-[#3BB551] group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
      <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
    </span>
  </button>
  <button type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-[#3BB551] group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
      <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
    </span>
  </button>
</div>