<app-header [image]="'cabecera-nosotros.jpg'" [title]="'NOSOTROS'" [height]="'60%'"></app-header>
<div class="flex justify-center">
    <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
        <p class="font-semibold">Toque Gourmet es una empresa cooperativa gastronómica fundada en febrero de 2024, comprometida con la excelencia en servicios de menú in situ y viandas. Nuestro equipo esta formado por profesionales comprometidos con la calidad humana, guiados por nutricionistas de la industria gastronómica.</p>
    </div>
</div>
<app-separator [image]="'equipo.jpg'" [height]="'40%'"></app-separator>
<div class="flex justify-center">
    <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
        <p class="font-semibold">Toque Gourmet es una empresa cooperativa gastronómica fundada en febrero de 2024, comprometida con la excelencia en servicios de menú in situ y viandas. Nuestro equipo esta formado por profesionales comprometidos con la calidad humana, guiados por nutricionistas de la industria gastronómica.</p>
    </div>
</div>
<app-separator [image]="'empanadas-pinceladas.jpg'" [height]="'80%'"></app-separator>

