<app-header [image]="'cabecera-nosotros.jpg'" [title]="'NOSOTROS'" [height]="'60%'"></app-header>
<div class="flex justify-center">
    <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
        <p class="font-semibold">Toque Gourmet es una empresa cooperativa gastronómica fundada en febrero de 2024,
            comprometida con la excelencia en servicios de menú in situ y viandas. Nuestro equipo esta formado por
            profesionales comprometidos con la calidad humana, guiados por nutricionistas de la industria gastronómica.
        </p>
    </div>
</div>
<app-separator [image]="'equipo.jpg'" [height]="'41%'"></app-separator>
<div class="flex justify-center">
    <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
        <p class="font-semibold">Toque Gourmet es una empresa cooperativa gastronómica fundada en febrero de 2024,
            comprometida con la excelencia en servicios de menú in situ y viandas. Nuestro equipo esta formado por
            profesionales comprometidos con la calidad humana, guiados por nutricionistas de la industria gastronómica.
        </p>
    </div>
</div>
<app-separator [image]="'empanadas-pinceladas.jpg'" [height]="'80%'"></app-separator>

<div class="flex justify-center mb-14">
    <div class="pt-16 w-[90%] md:w-[70%] ">
        <app-service-category-reverse title="Compromiso y calidad"
            description="Nuestra filosofía se centra en una alimentación equilibrada y nutritiva, respaldada por estándares de calidad y gestión que garantizan la satisfacción de nuestros clientes. Nos distinguimos por nuestra capacidad de resolver demandas de manera eficiente y por mantener relaciones cercanas y personalizadas con cada cliente."
            image="equipo-3.jpg"></app-service-category-reverse>

        <app-service-category title="Viandas de calidad y conveniencia"
            description="Ofrecemos una opción práctica con entrega diaria de viandas variadas y balanceadas, diseñadas por nutricionistas según estándares nutricionales rigurosos. Nuestras comidas, elaboradas con el sabor casero que nos distingue, son transportadas con sistemas de frío garantizados hasta cada punto de entrega. Acompañamos este servicio con asistencia personalizada para completar la experiencia de nuestros clientes de manera cercana y eficaz."
            image="viandas.jpg"></app-service-category>
    </div>
</div>

<div class="w-full h-30 bg-[#3BB551] mt-28 flex items-center justify-center px-4">
    <h2 class="text-white font-Romantica xl:text-5x1 md:text-4xl sm:text-3xl text-3xl text-center">
        Innovación en servicios gastronómicos para empresas
    </h2>
</div>

<app-contact></app-contact>