<app-header
  [image]="'cabecera-nosotros.webp'"
  [blurImage]="'blur_cabecera-nosotros.webp'"
  [title]="'NOSOTROS'"
  [height]="'60%'"
  [alt]="'Cabecera Nosotros'"
></app-header>

<div class="flex justify-center">
  <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
    <p class="font-semibold">
      Toque Gourmet es una empresa cooperativa gastronómica fundada en febrero
      de 2024, guiada por la excelencia en servicio para la elaboración de
      productos alimentarios personalizados.
    </p>
    <br />
    <p class="font-semibold">
      Brindamos soluciones saludables y balanceadas al mejor precio, buscando
      siempre la máxima calidad y frescura en las materias primas que
      utilizamos. Nuestros productos no son elaborados con aditivos, colorantes
      ni conservantes.
    </p>
  </div>
</div>

<app-separator [image]="'equipo.webp'" [height]="'41%'"></app-separator>

<div class="flex justify-center">
  <div class="mt-10 mb-10 md:mt-14 md:mb-14 w-[80%] xl:w-[50%]">
    <p class="font-semibold">
      Nuestro equipo está formado por técnicos y profesionales comprometidos con
      la calidad humana, con trayectoria en servicios gastronómicos y en gestión
      de eventos sociales y corporativos.
    </p>
    <br />
    <p class="font-semibold">
      Contamos con una amplia red de reconocimiento y referencia en el circuito
      gastronómico y cultural de la Ciudad de Buenos Aires que avala nuestra
      experiencia.
    </p>
  </div>
</div>

<app-separator [image]="'grisines.webp'" [height]="'62%'"></app-separator>

<div class="flex justify-center mb-14">
  <div class="pt-16 w-[90%] md:w-[70%]">
    <app-service-category-reverse
      title="Nuestra planta"
      description="Toque Gourmet cuenta con una planta de producción ubicada en un punto estratégico de la Ciudad de Buenos Aires, de rápido acceso a los principales nodos de distribución en CABA y AMBA, propiciando una relación de cercanía con nuestros proveedores y principales clientes.<br><br>Nuestra planta exclusiva, está equipada con tecnología industrial que garantiza la  trazabilidad en la elaboración y conservación de la calidad de nuestros productos. "
      image="general-cocina.webp"
    ></app-service-category-reverse>

    <app-service-category
      title="Compromiso y calidad"
      description="Cooperativa gastronómica que surge de la potencia asociativa para la creación de soluciones gastronómicas.<br><br>Nuestras ideas se centran en una alimentación equilibrada y nutritiva, respaldada por estándares de calidad y gestión que garantizan la satisfacción de nuestros clientes. Nos distinguimos por nuestra capacidad de resolver demandas de manera eficiente y por mantener relaciones cercanas y personalizadas con cada cliente."
      image="compromiso-y-calidad.webp"
    ></app-service-category>
  </div>
</div>

<div
  class="w-full h-30 bg-[#3BB551] mt-28 flex items-center justify-center px-4"
>
  <h2
    class="text-white font-Romantica xl:text-5x1 md:text-4xl sm:text-3xl text-3xl text-center"
  >
    Innovación en servicios gastronómicos integrales
  </h2>
</div>

<app-contact></app-contact>
