/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite/";

@font-face {
  font-family: "Romantica";
  src: url("assets/fonts/Romantica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Romantica: Romantica, "sans-serif";
}