/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite/";

@font-face {
  font-family: "Romantica";
  src: url("assets/fonts/Romantica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Romantica: Romantica, "sans-serif";
}

body {
  @apply bg-amber-50 relative min-h-screen;
}

body::before {
  content: "";
  @apply absolute inset-0 bg-[url('/background.png')] bg-repeat bg-center bg-fixed -z-10;
  opacity: 0.07;
}